[project]
	description = Fuel Documentation
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Svetlana Karslioglu (svekars)
[access "refs/for/refs/*"]
	read = group user/Svetlana Karslioglu (svekars)
	push = group user/Svetlana Karslioglu (svekars)
	label-Code-Review = -2..+2 group user/Svetlana Karslioglu (svekars)
	label-Verified = -1..+1 group user/Svetlana Karslioglu (svekars)
	rebase = group user/Svetlana Karslioglu (svekars)
	removeReviewer = group user/Svetlana Karslioglu (svekars)
	submit = group user/Svetlana Karslioglu (svekars)
[access "refs/heads/*"]
	read = group user/Svetlana Karslioglu (svekars)
	create = group user/Svetlana Karslioglu (svekars)
	push = +force group user/Svetlana Karslioglu (svekars)
	pushMerge = group user/Svetlana Karslioglu (svekars)
[access "refs/tags/*"]
	push = +force group user/Svetlana Karslioglu (svekars)
	pushTag = group user/Svetlana Karslioglu (svekars)
	pushSignedTag = group user/Svetlana Karslioglu (svekars)
